<div class="flex">
  <input
    class="w-64 px-4 py-2 border-t border-b border-l border-gray-200 rounded-l-md focus:outline-none"
    placeholder="Input title..."
    [(ngModel)]="newItemTitle"
  />

  <textarea
    maxlength="250"
    rows="1"
    class="flex-grow px-4 py-2 border-t border-b border-l border-r border-gray-200 focus:outline-none"
    placeholder="Input description..."
    [(ngModel)]="newItemDesc"
  ></textarea>

  <button
    class="px-4 py-2 text-white bg-blue-500 rounded-r-md"
    (click)="addNewItem()"
  >
    Add
  </button>
</div>
